# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore server configuration files.
.ht*
web.config
robots.txt

# Ignore IDE files.
/nbproject/*
